<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        <title> Pure | 🌹 </title>
        <!-- css styling -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
        <!-- bootstrap -->
       
    </head>

    <body>

        <div id="header">
            <H1> <strong> Pure | 💐 </strong> </H1>
            <h4 class="chart" > <a href="/listingForm">List Item </a> </h4>
            <h2> <em> ♥️ Your number one online  stop & shop for all Roses and flowers </em></h2>
            <!-- <img src=https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1627&q=80"/> -->
        </div>

        <!-- jinja template( extendixng html page ) -->
        {% block content %} {% endblock %}
        
        <div id="productWrap">
                <h1 id="listing"> Listing  </h1>

                <!-- dry code 🤦🏾‍♂️ -->
            {% for listing in listings %}
                <div id="imgWrap">
                    <a href="/{{ listing._id }}">
                    <img src="https://target.scene7.com/is/image/Target/GUEST_2e363baa-8888-4d0c-a8ad-99e680f4cdac?wid=488&hei=488&fmt=pjpeg"/> 
                    </a>
                    <h3> <span>Name:</span>  {{listing.title}}  </h3>
                    <h3> <span>Item price:</span> {{listing.price}} </h3>
                    <button><a href="/{{listing._id}}"> BUY</a></button>

                </div>
            {% endfor %}

            




                    
        </div>

    </body>

</html>