<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        <title> 🌹 </title>
        <!-- css styling -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/mainpage.css")}}"">
        <!-- bootstrap -->
       
    </head>

    <body>

        <div id="header">
            <H1> Pure |  🛒💐 </H1>
            <h2> Your number one online  stop shop for a Roses and flower  </h2>
            <!-- <img src=https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1627&q=80"/> -->
        </div>

        <!-- jinja template( extending html page ) -->
        {% block content %} {% endblock %}
        
        <div id="productWrap">
                <h1> Products </h1>

                <!-- dry code 🤦🏾‍♂️ -->

                <div id="imgWrap">
                    <img src="https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1627&q=80"/> 
                    <h3> <span>Name:</span>  Pink Rose  </h3>
                    <h3> <span>Item price:</span> 5.00$ </h3>
                    <button> BUY </button>
                </div>

                <div id="imgWrap">
                    <img src="https://images.unsplash.com/photo-1464982326199-86f32f81b211?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"/>
                    <h3> <span>Name:</span>  Pink Rose  </h3>
                    <h3> <span>Item price:</span> 5.00$ </h3>
                    <button> BUY </button> 
                </div>

                <div id="imgWrap">
                    <img src="https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1627&q=80"/> 
                    <h3> <span>Name:</span>  Pink Rose  </h3>
                    <h3> <span>Item price:</span> 5.00$ </h3>
                    <button> BUY </button>
                </div>
                 
                 <div id="imgWrap">
                   <img src="https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1627&q=80"/>
                   <h3> <span>Name:</span>  Pink Rose  </h3>
                    <h3> <span>Item price:</span> 5.00$ </h3>
                   <button> BUY </button>
                </div>
    
                <div id="imgWrap">
                    <img src="https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1627&q=80"/> 
                    <h3> <span>Name:</span>  Pink Rose  </h3>
                    <h3> <span>Item price:</span> 5.00$ </h3>
                    <button> BUY </button>
                </div>
    
                <div id="imgWrap">
                    <img src="https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1627&q=80"/> 
                    <h3> <span>Name:</span>  Pink Rose  </h3>
                    <h3> <span>Item price:</span> 5.00$ </h3>
                    <button> BUY </button>
                </div>

                <div id="imgWrap">
                     <img src="https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1627&q=80"/> 
                     <h3> <span>Name:</span>  Pink Rose  </h3>
                    <h3> <span>Item price:</span> 5.00$ </h3>
                     <button> BUY </button>
                    </div>
        
                <div id="imgWrap">
                    <img src="https://images.unsplash.com/photo-1465405135012-6c24c343b9a8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1627&q=80"/>
                    <h3> <span>Name:</span>  Pink Rose  </h3>
                    <h3> <span>Item price:</span> 5.00$ </h3>
                    <button> BUY </button>
                </div>




                    
        </div>

    </body>

</html>